@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;

// Font Variable
$font-caveat: "Caveat", cursive;
$font-poppins: "Poppins", sans-serif;
$font-onest: "Onest", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
section{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: $font-poppins;
    padding: 20px;
    .nav{
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        .kiri{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            @media only screen and (min-width:$media-lg){
                width: 80%;
            }
            // border: 2px white solid;
            .dalam-1{
                // display: flex;
                @media only screen and (min-width:$media-lg){
                    width: 30%;
                }
                width: 100%;
                border: 1px double white;
                border-radius: 20px;
                padding: 2px;
                h1{
                    display: flex;
                    border: 1px double white;
                    height: 35px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px;
                    border-radius: 20px;
                    i{
                        height: 30px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &:hover{
                    background-color: white;
                    color: black;
                    h1{
                        i{
                            background-color: black;
                            color: white;
                        }
                    }

                }
            }
            .dalam-2{
                width: 70%;
                display: flex;
                border: 1px white solid;
                padding: 2px;
                border-radius: 20px;
                gap: 5px;
                display: none;
                @media only screen and (min-width:$media-lg){
                    display: flex;
                }
                .folio{
                    width: 50%;
                    height: 35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px white solid;
                    border-radius: 20px;
                    padding: 3px;
                    button{
                        width: 30%;
                        background-color: #dfd921;
                        height: 30px;
                        border-radius: 20px;
                        border: none;
                        font-size: 1rem;
                        font-weight: bolder;
                    }
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
                .cate{
                    height: 35px;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-items: center;
                    border: 1px white solid;
                    border-radius: 20px;
                    padding: 3px;
                    button{
                        width: 40%;
                        background-color: red;
                        height: 30px;
                        border-radius: 20px;
                        border: none;
                        font-size: 1rem;
                        font-weight: bolder;
                        color: white;
                    }
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
        .kanan{
            // width: 30%;
            display: none;
            justify-content: flex-end;
            @media only screen and (min-width:$media-lg){
                display: block;

            }
            ul{
                // width: 100%;
                display: flex;
                list-style: none;
                gap: 10px;
                justify-content: flex-end;
                li{
                    a{
                        text-decoration: none;
                        color: white;
                        i{
                            height: 40px;
                            aspect-ratio: 1/1;
                            border: 1px white solid;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    &:hover{
                        a{
                            i{
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        .button{
            display: block;
            width: 15%;
            height: 35px;
            border: 1px white solid;
            padding: 3px;
            border-radius: 20px;
            button{
                width: 100%;
                border: 1px white solid;
                background-color: black;
                color: white;
                height: 100%;
                border-radius: 20px;
            }
            @media only screen and (min-width:$media-lg){
                display: none;
            }
        }
    }
    .main{
        width: 100%;
        padding: 10px;
        .botak{
            @media only screen and (min-width:$media-lg){
                flex-direction: row;
                align-items: center;
                padding-top: 70px;

            }
            display: flex;
            background-color: gray;
            padding: 20px;
            border-radius: 30px;
            align-items: flex-start;
            flex-direction: column-reverse;
            .inpo{
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    font-size: 3rem;
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    width: 100%;
                    position: relative;
                    // color: yellowgreen;
                    @media only screen and (min-width:$media-lg) {
                        font-size: 6.5rem;
                        color: white
                    }
                    @media only screen and (min-width:$media-md) and (max-width:$media-lg){
                        font-size: 4rem;}
                    &::after{
                        content: "";
                        display: inline-block;
                        width: 7%;
                        height: 10px;
                        background-color: white;
                        // margin-left: 20px;
                        position: absolute;
                        right: -5%;
                        top: 50%;
                    }
                }
                .des{
                    align-items: center;
                    gap: 20px;
                    @media only screen and (min-width:$media-lg){
                        display: flex;
                    }
                    button{
                        @media only screen and (min-width:$media-lg){
                            width: 40%;
                        }
                        width: 80%;
                        height: 35px;
                        display: flex;
                        justify-content: space-between;
                        border: 1px white solid;
                        align-items: center;
                        background-color: transparent;
                        padding: 5px;
                        border-radius: 20px;
                        color: white;
                        font-size: 1rem;
                        i{
                            background-color: rgb(158, 157, 157);
                            height: 25px;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    p{
                        color: white;
                    }
                }
            }
            .mas{
                width: 30%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
                @media only screen and (min-width:$media-lg){
                    align-items: flex-end;

                }
                img{
                    width: 50%;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    @media only screen and (min-width:$media-lg){
                        width: 40%;

                    }
                }
                button{
                    width: 50%;
                    @media only screen and (min-width:$media-lg){
                        width: 40%;

                    }
                    // border: 1px white solid;
                    background-color: rgb(158, 157, 157);
                    color: white;
                    border-radius: 20px;
                    border: none;
                    height: 30px;
                }
            }
        }
    }
    .tex{
        width: 100%;
        align-items: flex-start;
        @media only screen and (min-width:$media-lg){
            display: flex;
        }
        ul{
            @media only screen and (min-width:$media-lg){
                width: 50%;
            }
            width: 100%;
            display: flex;
            gap: 20px;
            list-style-type: none;
            li{
                border: 2px gray solid;
                padding: 5px;
                border-radius: 15px;
                color: gray;

            }
        }
        .kanan{
            padding-top: 20px;
            @media only screen and (min-width:$media-lg){
                width: 50%;
                padding-top: 0;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
    .card{
        width: 100%;
        ul{
            width: 100%;
            flex-grow: 1;
            @media only screen and (min-width:$media-lg){
                justify-content: space-around;
                display: flex;
            }
            li{
                @media only screen and (min-width:$media-lg){
                    width: 30%;
                    margin-top: 0;
                }
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                border: 2px gray solid;
                padding: 20px;
                border-radius: 20px;
                margin-top: 20px;
                .atas{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    i{
                        background-color: white;
                        color: gray;
                        border-radius: 50%;
                        height: 25px;
                        aspect-ratio: 1/1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                img{
                    width: 100%;
                    height: 100px;
                }
                .inpo{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px gray solid;
                    padding-bottom: 10px;
                }
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
    .last{
        width: 100%;
        padding: 10px;
        .atas{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 15px;
            border-bottom: 2px gray solid;
            p{
                padding: 5px;
                border-radius: 10px;
                border: 1px gray solid;
                color: gray;
                background-color: rgba(128, 128, 128, 0.322);
            }
        }
        .bawah{
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            .kanan{
                @media only screen and (min-width:$media-lg){
                    display: flex;
                    width: 70%;
                    justify-content: space-between;
                }
                justify-content: flex-end;
                .dalam{
                    @media only screen and (min-width:$media-lg){
                        display: flex;
                        align-items: flex-end;
                        width: 50%;
                    }
                    @media only screen and (min-width:$media-md){
                        display: flex;
                        justify-content: space-around;
                        gap: 30px;
                    }
                    @media only screen and (min-width:0)and (max-width:$media-md){
                        display: flex;
                        flex-direction: column-reverse;
                        gap: 0;
                    }
                    align-items: flex-end;
                    ul{
                        list-style-type: none;
                        gap: 30px;
                        @media only screen and (min-width:$media-md){
                        display: flex;
                        }
                        display: none;
                    }
                }
            }
        }
    }
}
// Responsive Breakpoint
// Responsive Breakpoint


