
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#atas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#atas h1{
    padding-left: 50px;
    font-family: 'Playpen Sans', cursive;
}
#atas ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px black solid;
    border-radius: 20px;
    width: 50%;
    list-style-type: none;
    padding: 10px;
}
#atas ul li {
    font-weight: bold;
    font-family: 'Playpen Sans', cursive;
}
#atas button{
    width: 8%;
    border-radius: 20px;
    font-family: 'Playpen Sans', cursive;
}
#tengah{
    width: 100%;
    display: flex;
    font-weight: bolder;
}
.kiri{
    width: 50%;
    padding: 10px 10px 10px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.kiri h1{
    font-size: 3rem;
    width: 70%;
    font-family: 'Playpen Sans', cursive;
}
.kiri p{
    width:87%;
    font-family: 'Playpen Sans', cursive;  
}
.kiri p b{
    font-weight: bolder;
}
.isi{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.dalam-1{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.dalam-1 button{
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border:2px red solid;
    color: red;
    background-color: black;
}
.dalam-1 i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px red solid;
    background-color: black;
    color: red;
    height: 40px;
    aspect-ratio: 1/1;
}
.dalam-2{
    width: 50%;
    display: flex;
    gap: 10px;
    height: 25px;
    padding-left: 40px;
}
.dalam-2 p{
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 20%;
    border-left: 2px gray solid;
}
.kanan{
    width: 50%;
}
.bagian-1{
    width: 100%;
    display: flex;
    padding-top: 20px;
}
.kotak-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.balok{
    height: 100px;
    background-color:red;
    border-radius: 30px;
    border: 3px black solid;
}
.kotak-2{
    width: 50%;
    padding: 10px 10px 10px;
}
.kubus{
    background-color:red;
    border: 3px black solid;
    height: 210px;
    border-radius: 30px;
}
.bagian-2{
    width: 100%;
    display: flex;
    padding: 10px;
}
.tiket{
    border: 3px black solid;
    height: 110px;
    background-color: red;
}
.bagian-2 .tiket:nth-child(1){
    border-radius: 30px 0 0 30px;
    width: 45%;
    border-right: none;
}
.bagian-2 .tiket:nth-child(2){
    border-radius: 0 30px 30px 0;
    width: 55%;
    border-left: 3px white dotted;
}
#bawah{
    width: 100%;
}
.last{
    padding-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.last ul{
    width: 80%;
    height: 110px;
    border-radius: 30px 30px 0 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background: black;
}
.last ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Playpen Sans', cursive;
    color: red;
}
.last ul li i{
    height: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
    border-radius: 50px;
}.last ul li:nth-child(1) h1 u{
    font-size: 1rem;
    text-decoration: none;
}
