*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    display: flex;
    padding: 20px;
        #kiri{
            width: 20%;
            .kiri-1{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                    h1{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        &:nth-child(1){
                            font-size: 3rem;
                            color: red;
                            p{
                                font-size: 1rem;
                                padding-left: -5px;
                                color: gray;
                            }
                        }
                    }
                    button{
                        height: 50px;
                        width: 80%;
                        background: rgb(255,0,0);
                        background: linear-gradient(90deg, rgba(255,0,0,1) 28%, rgba(170,7,133,1) 77%);
                        border: none;
                        border-radius: 20px;
                        color: white;
                        font-size: 1.2rem;
                        cursor: pointer;
                        i:nth-child(1){
                            padding-right: 10px;
                        }
                        & :nth-child(2){
                            padding-left: 10px;
                        }

                    }
                }
                .kiri-2{
                    width: 100%;
                    padding: 20px;
                    ul{
                        padding: {
                            top: 35px;
                            bottom: 40px;
                        }
                        border-bottom: 2px gray solid;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        list-style-type: none;
                        gap: 20px;
                        li{
                            // border: 2px black solid;
                            width: 60%;
                            height: 40px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            border-radius: 20px;
                            padding-left: 10px;
                            cursor: pointer;
                            a{
                              text-decoration: none;  
                              color: gray;
                            }
                            &:hover{
                                background-color: aqua;
                                a{
                                    color: black;
                                }
                            }
                        }
                    }

                }
                .kiri-3{
                    width: 100%;
                    padding: {
                        top: 20px;
                        bottom: 20px;
                    }
                    ul{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                        list-style-type: none;
                        li{
                            border: 2px gray solid;
                            width: 50%;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 10px;
                            cursor: pointer;
                            a{
                                text-decoration: none;
                                color: gray;
                            }
                            &:hover{
                                border: none;
                                background-color: blue;
                                a{
                                    color: white;
                                }
                            }
                        }
                    }
                }
        }
        #kanan{
            width: 80%;
            .atas{
                width: 100%;
                display: flex;
                .search{
                    padding: 10px;
                    background-color: rgb(204, 204, 204);
                    display: flex;
                    width: 75%;
                    border-radius: 10px;
                    select{
                        width: 30%;
                        height:50px;
                        font-size: 1rem;
                        border-radius: 10px;
                        padding: 10px;
                        outline: none;
                    }
                    input{
                        width: 50%;
                        background-color: transparent;
                        border: none;
                        font-size: 1rem;
                        outline: none;
                        padding-left: 20px;
                    }
                    button{
                        width: 20%;
                        background-color: transparent;
                        border: none;
                        color: gray;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        font-size: 1.5rem;
                        padding: 10px;
                    }
                }
                .profil{
                    width: 25%;
                    padding: 10px;
                    ul{
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li{
                            height: 45px;
                            aspect-ratio: 1/1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.5rem;
                            border-radius: 50%;
                            background-color: red;
                        }
                    }
                }
            }
            .tengah{
                display: flex;
                width: 100%;
                padding-top: 30px;
                gap: 10px;
                padding: 20px;
                .sisi-1{
                    width: 70%;
                    display: flex;
                    background-color: rgb(199, 199, 199);
                    img{
                        height: 220px;
                        aspect-ratio: 1/1;
                    } 
                    .text{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 30px;
                        .sponsor{
                            padding-top: 15px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            ul{
                                display: flex;
                                list-style-type: none;
                                width: 40%;
                                justify-content: space-around;
                                li{
                                    img{
                                        height: 35px;
                                        aspect-ratio: 1/1;
                                    }
                                }
                            }
                            i{
                                height: 50px;
                                aspect-ratio: 1/1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
                .sisi-2{
                    width: 30%;
                    display: flex;
                    align-items: center;
                    img{
                        width: 100%;
                        height: 210px;
                    }
                }
            }
            .bawah{
                width: 100%;
                .judul{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    ul{
                        list-style-type: none;
                        display: flex;
                        gap: 10px;
                    }

                }
                .produk{
                    display: flex;
                    width: 100%;
                    overflow: auto;
                    gap: 20px;
                    padding-bottom: 30px;
                    .bungkus{
                        width: 20%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 10px;
                        border: 2px gray solid;
                        &:hover{
                            border: 5px black solid;
                        }
                        .sepatu{
                            width: 100%;
                            position: relative;
                            background-color: gray;
                            img{
                                height: 200px;
                                aspect-ratio: 1/1;
                            }
                            p{
                                position: absolute;
                                top: 10px;
                                left: 10px;
                            }
                        }
                        .deskrip{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding-top: 10px;
                        }
                        .warna{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            ul{
                                display: flex;
                                gap: 10px;
                                list-style-type: none;
                                li{
                                    height: 15px;
                                    aspect-ratio: 1/1;
                                    background-color: aqua;
                                    &:nth-child(2){
                                        background-color: cadetblue;
                                    }
                                    &:nth-child(3){
                                        background-color: chartreuse;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        .bungkus{      
                            .sepatu{
                                i{
                                    position: absolute;
                                    height: 30px;
                                    aspect-ratio: 1/1;
                                    background-color: black;
                                    color: white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    top: 10px;
                                    left: 10px;
                                }
                            }
                        }
                    }
                }

            }
        }
}